# zip files
*.zip

# Comma-separated values files
*.csv

# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
.venv*
venv*/
ENV*/

/wandb/

*.log

__pycache__/

.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

.vscode/